
    <div class="col-12">
      <div class="example-container mat-elevation-z8">
        <div class="row bg-info ">
          <div class="col-6">
            <button class="btn btn-primary" (click)="exportToExcel()">Download</button>
          </div>
          <div class="col-6">
            <input type="search" name="" id="" placeholder="search...." (keyup)="filter($event)" class="searchheight">
        
          </div>
        </div>
        <mat-table #table [dataSource]="product" matSort>
        
         
    
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef mat-sort-header> username </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> email </mat-header-cell>
            <mat-cell *matCellDef="let element "> {{element.email}} </mat-cell>
          </ng-container>
    
    
          <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef mat-sort-header> mobile </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> edit </mat-header-cell>
            <mat-cell *matCellDef="let element"> <mat-icon>create</mat-icon></mat-cell>
          </ng-container>

      
    
          <ng-container matColumnDef="delte">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
            <mat-cell *matCellDef="let element"> <mat-icon>clear</mat-icon></mat-cell>
          </ng-container>
          
    
          <mat-header-row *matHeaderRowDef="colums"></mat-header-row>
          <mat-row *matRowDef="let row; columns: colums;"></mat-row>
        </mat-table>
      </div>
    </div>
    <mat-paginator [pageSize]="5" showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
 
  
    