<mat-toolbar color="primary"><button mat-icon-button (click)="nav.toggle()"><mat-icon>menu</mat-icon></button><span class="logon">Logo</span>
<div class="extra">

</div>

<mat-icon class="gapfor">linked</mat-icon>
<mat-icon class="gapfor"> facebook</mat-icon>
<mat-icon class="gapfor">share</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="sidenav-wrapper">
  <mat-sidenav opened #nav>
    <a routerLink="/home"  >  
      <button mat-button><mat-icon>home</mat-icon><span>Home</span></button>
    </a>
    <a routerLink="/profile" >
      <button mat-button><mat-icon>person </mat-icon><span>Products</span></button>
    </a>
    <a routerLink="/user" >
      <button mat-button><mat-icon>info </mat-icon><span>Users</span></button>
    </a>
    <a routerLink="/contact" >
      <button mat-button><mat-icon>call </mat-icon><span>Ingredient</span></button>
    </a>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet>  </router-outlet></mat-sidenav-content>
</mat-sidenav-container>