.heading{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 12px;
    color: aqua;
    background-color: #fff;
}
.para1{
    padding: 12px;
    font-size: 12px;
}
.imgs{
    height: 300px;
    width: 400px;
    margin-left: 12px;
    
    border-radius: 5px;
}